.center {
    text-align: center;
}

.header{
    color: white;
}


.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 10%;
}
.message{ 
    font: bold;
    margin-top: 1px;
}

.message:hover{
    background-color:#EEEEEE;
}


.message:focus{
    background-color: #E0E0E0;
}

.inbox-label{
    margin-top: 5%;
    margin-left: 5%;
}

.inbox{
    padding: 0px;
}
.messages-div{
    max-height: 550px;
    overflow-y: auto;
    margin: 0px;
}

.outer-display-message{
    width: 550px;
}

#display-message{
    height: 600px;
    overflow: auto;
}

.logo-display-message{
    border-radius: 50%;
    background-color: #01579B;
    color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    width: 35px;
    height: 35px;
}

.inline-block{
    display: inline-block;
}
.email-details{
    margin-left: 10px;
    margin-top: 20px;
}

.subject{
    margin-bottom: 10px;
}

.from{
    font: x-small;
}

.date{
    font-size: small;
}

.from-date{
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.menu{
    width: 200px;
    height: 500px;
}

.send-mail{
    margin-top: 30px;
    padding: 10px;
    padding-right: 20px;
}

.send-mail-element{
    margin: 10px;
    width: 100%;
    border: none;
    border-bottom: solid 1px #E0E0E0;
}

.send-mail-element:focus{
    appearance: none;
    outline: none;
}

.send-mail-element:active{
    appearance: none;
    outline: none;
}

.send-mail-content{
    height: 340px;
}


input{
    border: none;
}

input:focus{
    appearance: none;
    outline: none;
}

.compose{
    margin-top: 30px;
    margin-bottom: 50px;
}

.labels{
    margin-bottom: 30px;
    
}

.logo{
    font-size: 10em;
    text-align: center;
}

